
src/Calculo/CalculoFolhaDePagamento.Api/bin/*
src/Calculo/CalculoFolhaDePagamento.Api/obj/*
src/Calculo/CalculoFolhaDePagamento.Domain/bin/*
src/Calculo/CalculoFolhaDePagamento.Domain/obj/*
src/Calculo/CalculoFolhaDePagamento.Infra.CrossCutting.IoC/bin/*
src/Calculo/CalculoFolhaDePagamento.Infra.CrossCutting.IoC/obj/*
src/Calculo/CalculoFolhaDePagamento.Infra.Data/bin/*
src/Calculo/CalculoFolhaDePagamento.Infra.Data/obj/*
src/Calculo/test/CalculoFolhaDePagamento.Test/obj/*
src/Calculo/test/CalculoFolhaDePagamento.Test/bin/*
src/APIGateway/Service.APIGateway/bin/*
src/APIGateway/Service.APIGateway/obj/*
src/Identity/Infra.CrossCutting.Identity/obj/*
src/Identity/Infra.CrossCutting.Identity/bin/*
src/Identity/Infra.Identity/bin/*
src/Identity/Infra.Identity/obj/*
src/Infra/Infra.CrossCutting.Bus/obj/*
src/Infra/Infra.CrossCutting.Bus/bin/*
src/Infra/Infra.CrossCutting.Configuration/obj/*
src/Infra/Infra.CrossCutting.Configuration/bin/*
src/Infra/Infra.CrossCutting.EventBusRabbitMQ/obj/*
src/Infra/Infra.CrossCutting.EventBusRabbitMQ/bin/*
src/Infra/Infra.Redis/obj/*
src/Infra/Infra.Redis/bin/*
src/Infra/Domain.SharedKernel/obj/*
src/Infra/Domain.SharedKernel/bin/*
src/Infra/package/netcoreapp3.1/*
src/Identity/package/netcoreapp3.1/*
src/Infra/test/Domain.SharedKernel.Test/bin/*
src/Infra/test/Domain.SharedKernel.Test/obj/*

src/RH/RH.Application/bin/*
src/RH/RH.Application/obj/*
src/RH/RH.Domain/bin/*
src/RH/RH.Domain/obj/*
src/RH/RH.Infra.CrossCutting.IoC/bin/*
src/RH/RH.Infra.CrossCutting.IoC/obj/*
src/RH/RH.Infra.Data/bin/*
src/RH/RH.Infra.Data/obj/*
src/RH/test/RH.API.Integration.Test/bin/*
src/RH/test/RH.API.Integration.Test/obj/*
src/RH/test/RH.Domain.Test/bin/*
src/RH/test/RH.Domain.Test/obj/*
src/RH/test/RH.Infra.Data.Test/bin/*
src/RH/test/RH.Infra.Data.Test/obj/*
src/RH/RH.Service.Api/bin/*
src/RH/RH.Service.Api/obj/*
src/RH/RH.Query.Api/bin/*
src/RH/RH.Query.Api/obj/*
src/RH/RH.infra.Data.EventSource/bin/*
src/RH/RH.infra.Data.EventSource/obj/*

.vs/*
