Codeizi/.vs/*
Codeizi/test/Codeizi.Curso.Api.Integration/bin/*
Codeizi/test/Codeizi.Curso.Api.Integration/obj/*
Codeizi/src/Codeizi.Curso.Api/bin/*
Codeizi/src/Codeizi.Curso.Api/obj/*
Codeizi/src/Codeizi.Curso.Application/bin/*
Codeizi/src/Codeizi.Curso.Application/obj/*
Codeizi/test/Codeizi.Curso.Domain.SharedKernel.Test/bin/*
Codeizi/test/Codeizi.Curso.Domain.SharedKernel.Test/obj/*
Codeizi/test/Codeizi.Curso.Domain.SharedKernel.Test/TestResults/*
Codeizi/src/Codeizi.Curso.Domain.SharedKernel/bin/*
Codeizi/src/Codeizi.Curso.Domain.SharedKernel/obj/*
Codeizi/test/Codeizi.Curso.Domain.Test/bin/*
Codeizi/test/Codeizi.Curso.Domain.Test/obj/*
Codeizi/src/Codeizi.Curso.Domain/bin/*
Codeizi/src/Codeizi.Curso.Domain/obj/*
Codeizi/src/Codeizi.Curso.Infra.CrossCutting.IoC/bin/*
Codeizi/src/Codeizi.Curso.Infra.CrossCutting.IoC/obj/*
Codeizi/src/Codeizi.Curso.Infra.Data/bin/*
Codeizi/src/Codeizi.Curso.Infra.Data/obj/*
Codeizi/src/Codeizi.Infra.CrossCutting.Bus/bin/*
Codeizi/src/Codeizi.Infra.CrossCutting.Bus/obj/*
Codeizi/test/Codeizi.Infra.Data.Test/bin/*
Codeizi/test/Codeizi.Infra.Data.Test/obj/*
Codeizi/src/Codeizi.Infra.Data.EventStore/bin/*
Codeizi/src/Codeizi.Infra.Data.EventStore/obj/*
Codeizi/TestResults/*
Codeizi/src/Codeizi.Curso.Infra.CrossCutting.Configuration/bin/*
Codeizi/src/Codeizi.Curso.Infra.CrossCutting.Configuration/obj/*
Codeizi/src/Codeizi.Curso.infra.Data.EventSource/bin/*
Codeizi/src/Codeizi.Curso.infra.Data.EventSource/obj/*
Codeizi/test/Codeizi.Curso.infra.Data.EventSource.Test/bin/*
Codeizi/test/Codeizi.Curso.infra.Data.EventSource.Test/obj/*
Codeizi/report/*
Codeizi/src/Codeizi.Curso.CalculoFolhaDePagamento/bin/*
Codeizi/src/Codeizi.Curso.CalculoFolhaDePagamento/obj/*
Codeizi/test/Codeizi.Curso.Api.Integration.Test/bin/*
Codeizi/test/Codeizi.Curso.Api.Integration.Test/obj/*
Codeizi/test/Codeizi.Infra.Data.Test/TestResults/*
Codeizi/test/Codeizi.Curso.infra.Data.EventSource.Test/*
Codeizi/test/Codeizi.Curso.Api.Integration.Test/TestResults/*
Codeizi/coverage.opencover.xml
Codeizi/test/coverage.opencover.xml
Codeizi/test/result.json
Codeizi/benchmark/Codeizi.Curso.CalculoFolhaDePagamento.Benchmark.Test/bin/*
Codeizi/benchmark/Codeizi.Curso.CalculoFolhaDePagamento.Benchmark.Test/obj/*
Codeizi/test/Codeizi.Curso.CalculoFolhaDePagamento.Test/bin/*
Codeizi/test/Codeizi.Curso.CalculoFolhaDePagamento.Test/obj/*
Codeizi/src/Codeizi.Curso.FolhaDePagamento.Infra.BackgroundTasks/bin/*
Codeizi/src/Codeizi.Curso.FolhaDePagamento.Infra.BackgroundTasks/obj/*
Codeizi/src/Codeizi.Curso.CalculoFolhaDePagamento.Infra.Data/bin/*
Codeizi/src/Codeizi.Curso.CalculoFolhaDePagamento.Infra.Data/obj/*
TestResults/*
Codeizi/src/Codeizi.Curso.CalculoFolhaDePagamento.Infra.CrossCutting.IoC/bin/*
Codeizi/src/Codeizi.Curso.CalculoFolhaDePagamento.Infra.CrossCutting.IoC/obj/*
Codeizi/src/Codeizi.Curso.CalculoFolhaDePagamento.Api/bin/*
Codeizi/src/Codeizi.Curso.CalculoFolhaDePagamento.Api/obj/*
Codeizi/src/Codeizi.Curso.Infra.Redis/bin/*
Codeizi/src/Codeizi.Curso.Infra.Redis/obj/*
Codeizi/src/Codeizi.Curso.SignalrHub/bin/*
Codeizi/src/Codeizi.Curso.SignalrHub/obj/*
