
src/Calculo/CalculoFolhaDePagamento.Api/bin/*
src/Calculo/CalculoFolhaDePagamento.Api/obj/*
src/Calculo/CalculoFolhaDePagamento.Domain/bin/*
src/Calculo/CalculoFolhaDePagamento.Domain/obj/*
src/Calculo/CalculoFolhaDePagamento.Infra.CrossCutting.IoC/bin/*
src/Calculo/CalculoFolhaDePagamento.Infra.CrossCutting.IoC/obj/*
src/Calculo/test/CalculoFolhaDePagamento.Test/obj/*
src/Calculo/test/CalculoFolhaDePagamento.Test/bin/*
